{% extends 'rango/base.html' %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Register Here</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="form-group">
                <form role="form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <p class="required">
                            <label class="required" for="inputUsername">Username:</label>
                            <input class="form-control" id="inputUsername" maxlength="30"
                                   name="username" type="text" />
                            <span class="helptext">
                                Required. 30 characters or fewer.
                                Letters, digits, and @/./+/-_ only.
                            </span>
                        </p>
                        <p class="required">
                            <label class="required" for="inputEmail">Email:</label>
                            <input class="form-control" id="inputEmail" name="email" type="email" />
                        </p>
                        <p class="required">
                            <label class="required" for="inputPassword1">Password:</label>
                            <input class="form-control" id="inputPassword1" name="password1" type="password" />
                        </p>
                        <p class="requried">
                            <label class="required" for="inputPassword2">Password confirmation:</label>
                            <input class="form-control" id="inputPassword2" name="password2" type="password" />
                            <span class="helptext">
                                Enter the same password as before for verification.
                            </span>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}